* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    text-align: justify; /* Justifier le texte */
}

header {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

main {
    width: 90%;
    margin: 20px auto;
}

#about, #gallery {
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    color: #444;
}

.centered-container {
    width: 80%; /* ou la largeur que vous souhaitez */
    margin: auto; /* cela centre le conteneur */
}

.intro-text {
    text-align: justify;
    text-justify: inter-word;
}

.image-container {
    margin: 0 auto; /* Centre la mosaïque */
    height: auto !important;
}

#gallery {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-bottom: 40px; /* Ajout de la marge basse */
}

.gallery-item {
    margin-bottom: 20px; /* Espace entre les images */
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100%; /* Assurez-vous que les images occupent toute la largeur de la ligne */
    max-width: 300px; /* Ajustez la largeur maximale selon vos préférences */
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item.small,
.gallery-item.medium,
.gallery-item.large {
    width: 100%;
}

.gallery-item.small {
    max-width: 100px;
}

.gallery-item.medium {
    max-width: 150px;
}

.gallery-item.large {
    max-width: 300px;
}


#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content img {
    width: 100%;
    height: auto;
}

img#modalImg {
    margin-top: 30px;
}

img.gallery-item {
    position: static !important; /* ou 'relative', 'fixed', etc., selon vos besoins */
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#copyright {
    margin-top: 40px;
    margin-bottom: 20px; /* Ajout de la marge basse */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.24);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-style: italic;
}

.special-font, .special-font2 {
    font-family: 'Pacifico', cursive;
    font-size: 2em; /* Ajustez la taille selon vos préférences */
}

.special-font {
    color: #4a7ba7;
}

.special-font2 {
    color: #3edb1f;
}

.highlight {
    font-weight: bold;
    color: #4a7ba7;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

#container {
    position: relative;
}
