* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    text-align: justify;
}

header {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 2% 0; /* Ajustement en pourcentage */
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

main {
    width: 90%;
    margin: 2% auto; /* Ajustement en pourcentage */
}

#about, #gallery {
    margin-bottom: 4%; /* Ajustement en pourcentage */
    text-align: center;
}

h2 {
    color: #444;
}

.centered-container {
    width: 80%;
    margin: auto;
}

.intro-text {
    text-align: justify;
    text-justify: inter-word;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 90%; /* Ajustez la largeur maximale selon vos préférences */
}

.gallery-item {
    margin-bottom: 2%; /* Ajustement en pourcentage */
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    flex: 0 0 calc(33.33% - 2%); /* Ajustement en pourcentage */
    max-width: calc(33.33% - 2%);
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item.small {
    flex: 0 0 10%; /* Ajustement en pourcentage */
}

.gallery-item.medium {
    flex: 0 0 15%; /* Ajustement en pourcentage */
}

.gallery-item.large {
    max-width: 90%; /* Largeur maximale pour chaque élément */
    max-height: 90%; /* Hauteur maximale pour chaque élément */
}

.column {
    width: 30%; /* Ajustement en pourcentage */
}

#gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 70%; /* Ajustement en pourcentage */
}

.modal-content img {
    width: 100%;
    height: auto;
}

img#modalImg {
    margin-top: 3%; /* Ajustement en pourcentage */
}

img.gallery-item {
    position: static !important;
}

.close {
    position: absolute;
    top: 1.5%; /* Ajustement en pourcentage */
    right: 3.5%; /* Ajustement en pourcentage */
    font-size: 4%; /* Ajustement en pourcentage */
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#copyright {
    margin-top: 4%; /* Ajustement en pourcentage */
    margin-bottom: 2%; /* Ajustement en pourcentage */
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.24);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-style: italic;
}

.special-font,
.special-font2 {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
}

.special-font {
    color: #4a7ba7;
}

.special-font2 {
    color: #3edb1f;
}

.highlight {
    font-weight: bold;
    color: #4a7ba7;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1%; /* Ajustement en pourcentage */
    bottom: 0;
    width: 100%;
    z-index: 10;
}

#container {
    position: relative;
}
