* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    text-align: justify; /* Justifier le texte */
}

header {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

main {
    width: 90%;
    margin: 20px auto;
}

#about, #gallery {
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    color: #444;
}

.centered-container {
    width: 80%; /* ou la largeur que vous souhaitez */
    margin: auto; /* cela centre le conteneur */
}

.intro-text {
    text-align: justify;
    text-justify: inter-word;
}

.gallery {
    display: flex;
    justify-content: center; /* Centrer les éléments horizontalement */
    flex-wrap: wrap; /* Permettre aux éléments de passer à la ligne suivante si nécessaire */
}
.gallery img {
    margin: 5px; /* Espace entre les images */
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    text-align: center;
}

#gallery h2 {
    margin-bottom: 20px; /* Espace entre le titre et les images */
}

#gallery .image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    justify-content: center; /* Centrer les images horizontalement dans la grille */
}

#gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer; /* Changement du curseur pour indiquer la cliquabilité */
    transition: transform 0.3s ease;
}

#gallery img:hover {
    transform: scale(1.05);
}

#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content img {
    width: 100%;
    height: auto;
}

img#modalImg {
    margin-top: 30px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#copyright {
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.24);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    text-align: center; /* Centrer le texte */
    font-style: italic; /* Texte en italique */
}

/* Styles spécifiques pour les lettres "M" et "T" dans "MonarTistique" */
.special-font {
    font-family: 'Pacifico', cursive;
    color: #4a7ba7;
    font-size: 2em; /* Ajustez la taille selon vos préférences */
}

.special-font2 {
    font-family: 'Pacifico', cursive;
    color: #3edb1f;
    font-size: 2em; /* Ajustez la taille selon vos préférences */
}


.highlight {
    font-weight: bold;
    color: #4a7ba7;
}

/* Styles pour le lightbox */
.lightbox {
    position: fixed;
    top: 5%; /* Marge en haut */
    left: 0;
    width: 100%;
    height: 90%; /* Hauteur ajustée pour éviter la barre de défilement */
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.lightbox img {
    max-width: 80%;
    max-height: 80%;
    margin: 0 auto;
}

/* Autres styles... */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}